[submodule "glfw"]
	path = third/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = third/glm
	url = https://github.com/g-truc/glm.git
[submodule "spdlog"]
	path = third/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "imgui"]
	path = third/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ImGuizmo"]
	path = third/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "stb"]
	path = third/stb
	url = https://github.com/nothings/stb.git
[submodule "third/stb"]
	path = third/stb
	url = https://github.com/nothings/stb.git
[submodule "third/ImGuizmo"]
	path = third/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "third/spdlog"]
	path = third/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third/glm"]
	path = third/glm
	url = https://github.com/g-truc/glm.git
[submodule "third/glfw"]
	path = third/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third/imgui"]
	path = third/imgui
	url = https://github.com/ocornut/imgui.git
